@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

html{
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color:honeydew;
    font-family: 'Noto Sans KR';

}

body{
    margin:30px 100px;
}

/* 오버레이 */

.overlay{
    width: 100%;
    height: 100%;
    background-color:rgba(128, 128, 128, 0.329);
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
}

/* 페이지 상단 */



header{
    display:flex;
    flex-direction: row;
    line-height: 50px;
}
.logo>a>img{
    width:100px;
    height:100px;
}

.login{ 
    margin-left:auto; 
}

.login>ul{
    list-style-type: none;
}

.login > ul > li{
    display:inline-block;
    padding:0 20px;
    font-size: 25px;
}

.login > ul > li > a{
    color:inherit;
    text-decoration:none;
}

/* 본문 */

.content > #intro1{
    width: 800px;
    height: 195px;
    margin: 60px 234px 30px 104px;
    /* font-family: NanumSquareEB; */
    font-size: 90px;
    line-height: 1;
    text-align: left;
    color: #ffffff;
}

.content > #intro2{
  width: 1200px;
  height: 50px;
  margin: 0px 0 50px 104px;
  /* font-family: NanumSquareB; */
  font-weight: 300;
  font-size: 40px;
  line-height: 1;
  text-align: left;
  color: #ffffff;
}

/* 버튼들 */

.buttons{
    margin-left:104px;
    width:450px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.buttons>a>input{
  width: 200px;
  height: 70px;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;

  padding: 0px 20px;
  border-radius: 50px;
  border: 0;
  outline:0;
  cursor: pointer;
  background-color: #f07800;
}


