@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

html {
    color: honeydew;
    overflow-x: hiddee;
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans KR';
}

body {
    margin: 30px 100px;
}

.foodImage {
    background-color: coral;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    background-repeat: no-repeat;
    background-size: cover;

}

.foodImage > img {
    width: 100%;
    height: 100%;
}

/* 우측 콘텐츠 */

.backgroundImage {
    width: 50%;
    height: 100%;
    background-color: coral;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    display: flex;
    justify-content: center;
    background-size: cover;
}

/* 페이지 상단 */

header {
    display: flex;
    flex-direction: row;
    line-height: 50px;
    z-index: 1;
}
.logo > a > img {
    width: 100px;
    height: 100px;
}

.login {
    margin-left: auto;
}

.login > ul {
    list-style-type: none;
}

.login > ul > li {
    display: inline-block;
    padding: 0 20px;
    font-size: 25px;
}

.login > ul > li > a {
    color: inherit;
    text-decoration: none;
}

/* 본문 */

.content {
    margin-top: 20%;
  
}

.content > #todayMenu {
    height: 150px;
    margin: 0 0 10px;
    font-size: 80px;
    line-height: 2;
    text-align: left;
    color: #ffffff;
}

.content > #RecomMenu {
    margin: 0 0 60px 0;
    height: 39px;
    font-size: 80px;
    text-align: left;
    line-height: 1;
    color: #ffffff;
}

/* 버튼들 */

.buttons {
    width: 450px;
}
.buttons > a > input {
    width: 200px;
    height: 70px;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    margin:0 10px;
    padding: 0 20px;
    border-radius: 50px;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: #ffac4a;
    transition: 0.5s;
}

.buttons > a > input:hover {
    background-color: #c05d00;
}

/* 레이팅 별들 */
.rating{
    margin-bottom: 30px;
    cursor: pointer;
}
.rating > span {
    font-size: 80px;
    padding: 0 6px;
    transition:0.5s;
}

