@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

html{
  margin:0;
  height:100vh;
  display:flex;
  flex-direction: row;
  justify-content: center;
  background-color:#F28440;
  color:white;
  font-family: 'Noto Sans KR';
}

body{
  width:550px;
  height:100vh;
  background-color: coral;
  overflow-y: hidden; 
  box-shadow: 0px 0px 10px rgb(51, 50, 50);
}

.header{
  display: flex;
  justify-content: space-between;
  margin : 20px 30px;
  width:90%;
  height:10vh;
  line-height: 10vh;
}
.header>a>#logo{
  height:10vh;
}

.header>.login>a{
  color:inherit;
  text-decoration:none;
  font-size:100%;
}

.intro{
  font-size:6vh;
  margin:0px 20px;
  margin-bottom: 30px;

}

.innerLayer{
  width:80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recommend-button{
  margin-top:20px;
  box-shadow: 0px 2px 5px -2px rgb(51, 50, 50);
  border-radius: 2%;
  color:black;
  width:100%;
  height:20%;
  display:flex;
  align-items: center;
  align-content: space-between;
  background-color: white;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease-in;
}
.recommend-button:hover{
  box-shadow: 0px 2px 10px -2px rgb(51, 50, 50);
  transform: translateY(4px);

}


.recommend-button>.colorline{
  width:3%;
  height:100%;
  background-color: darkorange;
}

.recommend-button>.text{
  width:60%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin:0px 10px;
}

.recommend-button>.text>.title{
  font-size:4vh;
}
.para{
  font-size:2.5vh;
  color:darkgray;
}

.recommend-button>.img{
  width:100px;
  height:100px;
  margin-left:30px;
  
}
.recommend-button>.img>img{
  width:100%;
  height:100%;
}

.img_randomRec{
  margin-left:15px;
  width:90%;
  height:200px;
}

.img_randomRec>img{
  width:100%;
  height:100%;
}

span#question{
  font-size:2.5vh;
}